<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

<head>
    <meta charset="UTF-8">
    <title>BabyBlues</title>
</head>
<body>
<div class="container">
    <div class="chatbox">
        <div class="chatbox_msgbox">
            <h4>BabyBlues Chatbot</h4><p></p>
            <p>Feel free to ask questions and express yourself~</p>
            <div class="chatbox_txt">
                <div></div>
            </div>
            <div class="chatbox_content">
                <input type="text" placeholder="Type here...">
                <button class="btn">Send</button>
            </div>
        </div>
    </div>
    <div>
        <h6><a href="{{ url_for('static', filename='feedback.html') }}">Help us improve by filling out this feedback form>></a></h6>
    </div>
</div>

    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>